<html>
    {{>header}}
<div style="margin-top:80px" class="text-center">
    <h1>MNNIT OFFICIAL DISCUSSION FORUM</h1>
    <h1>Error 404!</h1>
    <h3>{{errorMessage}}</h3>
    <h3>Go back to <a href="/">home page.</a></h3>
</div>
</html>