<html>
    {{>header}}
    <body>
        <link rel="stylesheet" href="/css/homepage.css"/>
        {{>nav}}
        <div class="container text-center">
            <h3 class="text-left">Select a category to view the threads:</h3>
            <hr>
            <div>
            {{#each categories}}
            <a href="/category?_id={{this._id}}">
                <div class="container well">
                    <h2><strong>{{this.name}}</strong></h2>
                    {{this.description}}
                </div>
            </a>
            {{else}}
                <h4>Sorry, there are no categories added yet. Try contacting the admin.</h4>
            {{/each}}
            </div>
        </div>
    </body>
</html>