.container a:hover{
    text-decoration: none;
}

a div.well{
    color:#22313F;
    transition: background 0.5s;
    background: #A2DED0;
    overflow:hidden;
}

a div:hover{
    color:white;
    background: #3498db;
}